.student {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .student ul {
    list-style: none;
    padding: 1rem;
  }
  
  .student li {
    border: 1px solid #588157;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: white;
  }