.button {
    font: inherit;
    border: 1px solid #3a5a40;
    background: #3a5a40;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #344e41;
    border-color: white;
  }
  
  .button:focus {
    outline: none;
  }